<html>
<head>
    <title>Accueil</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary">
        <a class="navbar-brand" href="/">Accueil</a>
        <a class="navbar-brand" href="/chat">Tchat</a>
        <a class="navbar-brand" href="/signup">S'inscrire</a>
        <a class="navbar-brand" href="/signin">Se connecter</a>
        <a class="navbar-brand" href="/admin">Admin</a>
        <a class="navbar-brand" href="/profile">Profile</a>
    </nav>

    <main>
        <div class="container-fluid"><img class="img-fluid mrPropre" src="/img/MrPropre.jpg" alt="Monsieur Propre" />
            <h2>Bienvenue sur ce tchat dédié à Monsieur Propre !</h2>
            <p>Oui oui vous avez bien entendu ! Le Monsieur Propre ! Vous trouverez ci-dessus dans la barre de navigation un lien pour accéder au tchat ou en cliquant juste <a href="/chat">ici</a> ! </p>
            <p>Pour tous ceux et toutes celles féru d'histoire, je vous propose de découvrir ensemble l'histoire du Monsieur Propre ! Sur ce et sans transition s'est parti !</p><br/>
            <p>Le Monsieur Propre ou Mister clean chez nos amis américains fût créé par un certain Linwood Burton en 1958. Ledit monsieur possédait une entreprise chargée de nettoyer des bateaux. Le problème était que ces dits nettoyage utilisé alors
                des produits extrêmement toxiques et corrosifs donc dangereux pour la santé de ses employés. Possédant quelques connaissances de base en chimie, Linwood voulut remédier à ce problème. Et c'est ainsi qu'après quelques recherches et
                mélanges était née le Monsieur Propre !</p>
            <p>Fort de sa réussite, il commande auprès d'une agence de publicité un personnage pour son nouveau produit. C'est donc en 1957 qu'était née le personnage de Monsieur Propre. Personnage largement inspiré d'un marin chauve de le NAVY. Celui-ci
                sera néanmoins associé à un génie auprès du peuple américain au détriment du Marin.</p>
            <p>Linwood en 1958 vend Monsieur Propre à Procter and Gamble (P&G). Marque qui une fois vendue va alors exploser auprès du peuple américain. Aidé en outre par des campagne publicitaire notamment celles tournée en irl, etc... De par son succès
                fulgurant, la marque sera peu à peu exportée au Mexique puis en Europe et notamment en France en 1966 sous le nom de Monsieur Propre. France où elle donnera bien du fil à retordre à notre bon vieux Ajax. En 1972, Monsieur Propre commercialise
                mondialement sa nouvelle formule aux citronnes fraîcheurs bien plus agréables que l'ammoniaque utilisée jusque-là renforçant alors encore plus son succès.</p>
            <h3>Anecdotes :</h3>
            <ul>
                <li>Au cours des 50 dernières années, les traits de Monsieur Propre se sont aminci et adouci.</li>
                <li>En 2011, Monsieur Propre décroise enfin ses bras ! </li>
                <li>Le nom complet officiel de Monsieur Propre est : Veritably Proper ou Véritablement Propre en français !</li>
                <li>Depuis 2013, Monsieur Propre eut le droit à sa histoire fictive officielle que je me dois de vous partager ! (<a href="https://youtu.be/8_gX5MyFuMY" target="blank">Histoire officielle</a>)</li>
            </ul>
            <br/>
            <p>Et voilà nous arrivons à la fin de ce petit court d'histoire ! Maintenant vous avez toutes les clés en main afin de briller en société et pendant les repas de famille ! J'espère que celui-ci vous aura plu et qu'il vous aura donné envie
                de visiter le reste du site !</p><br/>
            <p>Sources :</p>
            <ul>
                <li><a href="https://youtu.be/KvA0nVbRbhE" target="blank">Epic Teaching of the History (aka RaAak)</a></li>
                <li><a href="https://fr.wikipedia.org/wiki/Monsieur_Propre" target="blank">Wikipedia</a></li>
            </ul>
        </div>
    </main>
</body>
</html>