nav(class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary")
    a(class="navbar-brand" href="/") Accueil
    a(class="navbar-brand" href="/chat") Tchat
    a(class="navbar-brand" href="/signup") S'inscrire
    a(class="navbar-brand" href="/signin") Se connecter
    a(class="navbar-brand" href="/admin") Admin
            
